body {
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: block;
    height: 100vh;
    max-width: 100vw;
    margin: auto;
}

.text-input-form {
    margin-bottom: 5vh;
    margin-top: 5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.story-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    max-width: 50%;
}

.new-text {
    position: relative;
    transition: transform 0.2s linear;
    transform: translate(0, 0);
    display: inline-block;
}

/* Applies when element has both classes */
.new-text.explode {
    transform: translate(var(--x-shift), var(--y-shift));
}